:root{
    // colors

    --background-black:#141414;
    --background-gray:#2b2b2b;
    --btn-background:#2b2b2b;
    --btn-background--active:#434343;
    --btn-active-background:#21a4f7;
    --btn-active-bacground--active:#38adf8;
    --text-white:#ffffff;
    --text-gray:#797979;
}