@import "./Montserrat.module.scss";

:root{
    --size-h1: 40px;
    --size-h1--1024: 36px;
    --size-h2: 26px;
    --size-h2--1024: 20px;
    --size-h3: 22px;
    --size-text-large:16px;
    --size-text-large--1024:14px;
    --size-text-normal:14px;
    --size-text-small:12px;
}
